@import '../../constants/colors.css';

.course-row {
    display: flex;
    flex-direction: row;
}
  
.course-col {
    flex: 1;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-col.title {
    text-align: center;
    font-weight: bold;
    margin: 4px;
}

.course-col input {
    width: calc(max(40px,100% - 12px));
    padding: 6px;
}

.course-col select {
    height: calc(100% - 16px);
    padding: 4px;
}

.course-button {
    margin: 8px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: var(--blue);
}

.course-button:hover {
    background-color: var(--sky-blue);
    color: var(--gold)
}

.course-footer {
    text-align: center;
}
