.cumulative-row {
    display: flex;
    flex-direction: row;
}
  
.cumulative-col {
    flex: 1;
    margin: 8px;
}

.cumulative-col input {
    width: calc(100% - 16px);
    padding: 8px;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 4px;
}