@import '../../constants/colors.css';

@media only screen and (min-width: 1200px) {
    .header-wrapper {
        margin: 0 auto;
        width: 1200px;
    }
}

.header-wrapper {
    padding: 20px 8px;
}

.college-name {
    width: 350px;
}

.college-name svg { 
    fill: var(--blue);
}